@font-face {
  font-family: Meslo;
  src: url(./resource/fonts/Meslo_NF.ttf);
}

html {
	height: 100%;
}
body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-color: #f1f1df;
}

/*Main layout*/
#overlay {
  position: fixed; 
  display: none; 
  height: 100%; 
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
}

#main_div {
	width: 100%;
	/*height: 100%;*/
	height: auto;
	background-color: #eaeaea;
	position: relative;
}

#header {
	width: 100%;
	height: 80px;
	background-color: black;
	/*position: fixed;*/
	float: left;
}

#footer {
	width: 100%;
	height: 280px;
	background-color: aqua;
}

#middle_div{
	/*height: 62%;*/
	height: 83%;
	width: 100%;
	background-color: #eaeaea;
	float: left;
}
/*End main layout*/


/*Header section*/
#hamburger {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
 	display: inline-block;
  	cursor: pointer;
}

#logo {
	width: 10%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
}

#search_bar {
	width: 70%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
}

#user {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
	cursor: pointer;
}

#shopping_cart {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
	background-image: url('./resource/shoping-cart.png');
	background-size:30px;
	background-position: 15px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#help {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
	background-image: url('./resource/help.png');
	background-size:30px;
	background-position: 15px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}


	/*Hamburger button*/
	.bar1, .bar2, .bar3 {
		width: 25px;
		height: 3px;
		background-color: #ffffff;
		margin: 5px 0 0 15px;
		transition: 0.4s;
	}

	#hamburger_container {
		margin-top: 30px;
	}

	/*Logo*/
	#header > #logo > a > img {
		height: 65px;
		position: absolute;
		top: 5px;
	}


	/*Search bar*/
	input[name='query'] {
	width: 700px;
	height: 30px;
	border-radius: 7px;
	position: absolute;
	top: 15px;
	left: 230px;
	background-image:
	url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
	border: 1px solid #000;
	border-radius: 30px;
	font-size: 20px;
	background-color: white;
	background-position: 8px 10px;
	background-repeat: no-repeat;
	padding: 8px 20px 8px 40px;
	}


/*End Header section*/

/*Footer section*/
#float {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 1;
	background-image: url(./resource/arrow.png);
	background-repeat: no-repeat;
	background-size:48px;
	background-position: 0px 0px;
	cursor: pointer;
}

h2 ~ ul {
	font-size: 15px;
	line-height: 23px;
	list-style-type: none;
	padding-inline-start: 140px;
}

li a {
	text-decoration: none;
	color: gray ;
}

li a:hover {
	color: #0770cf;
}
#info {
	width: 33%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#about {
	width: 34%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#more {
	width: 33%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#footer h2 {
	text-align: center;
}

#contact > h1 {
	padding: 0;
	margin: 0;
	text-align: center;
}
#contact {
	width: 100%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#contact > img {
	display: relative;
	margin-left: 43.5%;
}
	
#pagination {
	height: 30%;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bottom {
	width: 100%;
	height: 15%;
	background-color: #f2f2f2;
	color: gray;
	float: left;
}

#left {
	padding-top: 20px;
	width: 50%;
	text-align: left;
	display: inline-block;
	float: left;
}
#right {
	padding-top: 20px;
	width: 50%;
	text-align: right;
	display: inline-block;
	float: left;
}
/*End Footer section*/


/*Menu section*/
#menu {
	width: 20%;
	height: 100%;
	background-color: white;
	float: left;
	display: none;
	position: fixed;
	z-index: 3;
}

#cancel_button {
	width: 100%;
	height: 14%;
	background-color: #2d2d2d;
	float: left;
	/*position: fixed;*/
	/*left: 10px;*/

	background-image: url(./resource/X.png);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}

#category {
	width: 100%;
	height: 90%;
	float: left;
}

#category ul {
	padding: 0;
}

#category ul li {
	list-style-type: none;
	width: 100%;
	height: 8vh;
	padding-top: 10px;
}

#menu button {
	background: #2d2d2d;
	color: white;
	padding: 16px 0px 16px 16px;
	font-size: 16px;
	border: 1px solid gray;
	width: 100%;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
	margin-top: 10px;
}

#menu button:hover {
	background-color: #cfcfcf;
	color: black;
}

/*End Menu section*/

/*For admin css*/

/*admin menu*/

.dropbtn {
	background: #2d2d2d;
	color: white;
	padding: 16px 0px 16px 16px;
	font-size: 16px;
	width: 100%;
	border: 0px !important;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
	margin-top: 10px;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 3px;
  }
  
  .dropdown-content {
	width: 100%;
	display: none;
	position: absolute;
	/* top: 0px;
	left: 256px; */
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
  }
  
  .dropdown-content a:hover {background-color: #cfcfcf;}
  
  .dropdown:hover .dropdown-content {display: block;border-radius: 5px;}
/*end admin menu*/

/*Table product in admin*/
 #main_table {   
	border-collapse: collapse;
	width: 90%;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #f1f3fa;
	border-radius: 7px;
	color: #6c757d;
	box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.15);
}

th {
	color:  #6c757d;
	font-size: larger;
	padding: 10px;
}

tr[name=each_row]{
	cursor: pointer;
}

tr[name=each_row]:hover {
	background-color: #bcbcbc !important;
}

td[class='update']:hover{
	background-color: #a9e5ff;
}

td[class='delete']:hover{
	background-color: #ffa48d;
}

.adjust:hover {
	background-color: gray;
}

td[onclick] {
	cursor: pointer;
}
/*End able product in admin*/
/*End admin css*/

/*Start of user index.php products showing*/
h2 {
	padding: 0;
	margin: 0;
}

#products_container {
	width: 100%;
	height: 100%;
}

.each_product {
	width: 23%;
	height: 440px;
	background-color: #ffffff;
	float: left;
	margin: 40px 0px 13px 20px;
	border-radius: 1px solid black;
	border-radius: 4px;
	background-blend-mode: lighten;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.23);
	cursor: pointer;
}

.each_product:hover {
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.19), 0 1px 6px rgba(0,0,0,0.23);
}

.each_product div {
	padding-left: 10px;
}

.product_image {
	height: 70%;
	width: 100%;
	border-radius: 4px 4px 0 0;
	background-size:100%;
	background-repeat: no-repeat;
	padding: 0px !important;
}

.product_name {
	width: 100%;
	height: 10%;
	padding-top: 5px;
}

.product_price{
	width: 100%;
	height: 10%;
}

.product_tag {
	width: auto;
	height: 10%;
}

.product_tag .tag {
	width: fit-content;
	height: fit-content;
	background-color: gray;
	float: left;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	color: white;
	z-index: 99;
	text-decoration: none;
}

.product_tag .tag:hover {
	background-color: black;
}

.product_tag .view {
	width: fit-content;
	height: fit-content;
	background-color: gray;
	float: right;
	padding: 5px;
	margin-right: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	z-index: 99;
	text-decoration: none;
}

.product_tag .view:hover {
	background-color: black;
}




	/*Pagination*/
		#pagination a {
			padding: 5px 10px 5px 10px; 
			margin-left: 10px;
			background-color: #ffffff;
			color: black;
			text-decoration: none;
			border-radius: 100px;
		 	box-shadow: 0px 5px 10px 0px rgba(0,0,0,.1);
		}

		#pagination a.selected, 
		#pagination a:hover,
		#pagination a:active,
		#pagination a:focus {
			 background: #3498db; 
			 color: white;
		}
		
	/*End pagination*/
/*End user product showing*/

/*Start show.php*/

	#show {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#product_detail {
		width: 95%;
		height: 90%;
		background-color: #fafafa;
		border-radius: 3px;
		word-wrap: break-word;
	}

	#show_left{
		width: 45%;
		height: 100%;
		float: left;
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#show_img {
		width: 95%;
		height: 95%;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#show_right {
		width: 47%;
		height: 100%;
		float: left;
		border-top-right-radius: inherit;
		border-bottom-right-radius: inherit;
		padding-left: 80px;
		margin-top: 15px;
	}

	#show_right h2 {
		font-weight: normal;
	}
	p[name='price'] {
		color: #555555;
		font-size: 30px;
	}

	button[name="add_to_cart"] {
		border: 0;
		width: 200px;
		height: 50px;
		background-color: #018849;
		font-size: 20px;
		color: white;
		cursor: pointer;
	}

	button[name="buy_now"] {
		border: 0;
		width: 100px;
		height: 50px;
		background-color: #018849;
		font-size: 20px;
		color: white;
		cursor: pointer;
	}

	#show button:hover{
		background-color: #006637;
	}
	
/*End show.php*/
