html {
	height: 100%;
}
body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-color: #f1f1df;
}

/*Main layout*/
#main_div {
	width: 100%;
	/*height: 100%;*/
	height: 350vh;
	background-color: #eaeaea;
	position: relative;
}

#header {
	width: 100%;
	height: 4%;
	background-color: black;
	/*position: fixed;*/
	float: left;
}

#footer {
	width: 100%;
	height: 16%;
	background-color: aqua;
	position: absolute;
	bottom: 0px;
}

#middle_div{
	/*height: 62%;*/
	height: 83%;
	width: 100%;
	background-color: #eaeaea;
	float: left;
}
/*End main layout*/


/*Header section*/
#hamburger {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
 	display: inline-block;
  	cursor: pointer;
}

#logo {
	width: 10%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
}

#search_bar {
	width: 70%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
}

#user {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
	background-image: url('./resource/user.png');
	background-size:30px;
	background-position: 15px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#shopping_cart {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
	background-image: url('./resource/shoping-cart.png');
	background-size:30px;
	background-position: 15px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#help {
	width: 5%;
	height: 100%;
	background-color: #2d2d2d;
	float: left;
	background-image: url('./resource/help.png');
	background-size:30px;
	background-position: 15px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
	/*Hamburger button*/
	.bar1, .bar2, .bar3 {
		width: 25px;
		height: 3px;
		background-color: #ffffff;
		margin: 5px 0 0 15px;
		transition: 0.4s;
	}

	#hamburger_container {
		margin-top: 30px;
	}

	.change .bar1 {
		transform: rotate(-45deg) translate(-5px, 9px);
		background-color: #df2d2d;
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
		transform: rotate(45deg) translate(-2px, -6px);
		background-color: #df2d2d;
	}

	/*Logo*/
	#header > #logo > a > img {
		height: 65px;
		position: absolute;
		top: 5px;
	}


	/*Search bar*/
	input[name='query'] {
	width: 700px;
	height: 30px;
	border-radius: 7px;
	position: absolute;
	top: 15px;
	left: 230px;
	background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
	border: 1px solid #000;
	border-radius: 30px;
	font-size: 20px;
	background-color: white;
	background-position: 10px 7px;
	background-repeat: no-repeat;
	padding: 8px 20px 8px 40px;
	}


/*End Header section*/

/*Header hover*/
	#hamburger:hover ,#logo:hover, #user:hover, #shopping_cart:hover, #help:hover {
		background-color: #1a1a1a;
	}

/*End header hover*/


/*Footer section*/
#float {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 1;
	background-image: url(./resource/arrow.png);
	background-repeat: no-repeat;
	background-size:48px;
	background-position: 0px 0px;
	cursor: pointer;
}

h1 ~ ul {
	font-size: 15px;
	line-height: 23px;
	list-style-type: none;
}
li a {
	text-decoration: none;
	color: gray ;
	;
}
li a:hover {
	color: #0770cf;
}
#info {
	width: 33%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#more {
	width: 33%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#about {
	width: 34%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}
#contact > h1 {
	padding: 0;
	margin: 0;
	text-align: center;
}
#contact {
	width: 100%;
	height: 50%;
	background-color: #f2f2f2;
	float: left;
}

#contact > img {
	display: relative;
	margin-left: 43.5%;
}
	
#pagination {
	height: 30%;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bottom {
	width: 100%;
	height: 15%;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0;
	color: gray;
	
}

#left {
	padding-top: 20px;
	width: 50%;
	text-align: left;
	display: inline-block;
	float: left;
}
#right {
	padding-top: 20px;
	width: 50%;
	text-align: right;
	display: inline-block;
	float: left;
}
/*End Footer section*/


/*Menu section*/
#menu {
	width: 20%;
	height: 90vh;
	background-color: white;
	float: left;
	display: none;
	margin-top: 13vh;
	position: fixed;
	z-index: 1;
}

#gender {
	width: 100%;
	height: 10vh;
	background-color: blue;
}

#woman {
	width: 50%;
	height: 100%;
	background-color: cyan;
	float: left;
}

#man {
	width: 50%;
	height: 100%;
	background-color: maroon;
	float: left;
}

#category ul {
	padding: 0;
}

#category ul li {
	list-style-type: none;
	width: 100%;
	height: 8vh;
	padding-top: 10px;
}

#menu button {
	width: 100%;
	height: 100%;
	border:0;
	cursor: pointer;
}

#menu button:hover {
	background-color: #bcbcbc;
}

/*End Menu section*/

/*For admin css*/

/*admin menu*/

.dropbtn {
	background: #2d2d2d;
	color: white;
	padding: 16px 0px 16px 16px;
	font-size: 16px;
	border: 1px solid gray;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 3px;
  }
  
  .dropdown-content {
	width: 100%;
	display: none;
	position: absolute;
	/* top: 0px;
	left: 256px; */
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;border-radius: 5px;}
/*end admin menu*/

/*Table product in admin*/
 #main_table {   
	border-collapse: collapse;
	width: 90%;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #f1f3fa;
	border-radius: 7px;
	color: #6c757d;
	box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.15);
}

th {
	color:  #6c757d;
	font-size: larger;
	padding: 10px;
}

td[class='update']:hover{
	background-color: #a9e5ff;
}

td[class='delete']:hover{
	background-color: #ffa48d;
}

.adjust:hover {
	background-color: gray;
}

td[onclick] {
	cursor: pointer;
}
/*End able product in admin*/
/*End admin css*/

/*Start of user index.php products showing*/
h2 {
	padding: 0;
	margin: 0;
}
#products_container {
	width: 100%;
	height: 100%;
}

.each_product {
	width: 32%;
	height: 530px;
	background-color: #ffffff;
	float: left;
	margin: 25px 0px 13px 13px;
	border-radius: 1px solid black;
	border-radius: 10px;
	background-blend-mode: lighten;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.product_image {
	height: 70%;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-size:100%;
	background-repeat: no-repeat;
}

.product_name {
	width: 100%;
	height: 10%;
}

.product_price{
	width: 100%;
	height: 10%;
}

.product_tag {
	width: 100%;
	height: 10%;
}




	/*Pagination*/
		#pagination a {
			padding: 5px 10px 5px 10px; 
			margin-left: 10px;
			background-color: #ffffff;
			color: black;
			text-decoration: none;
			border-radius: 100px;
		 	box-shadow: 0px 5px 10px 0px rgba(0,0,0,.1);
		}

		#pagination a.selected, 
		#pagination a:hover,
		#pagination a:active,
		#pagination a:focus {
			 background: #3498db; 
			 color: white;
		}
		
	/*End pagination*/
/*End user product showing*/