   tr[name='each_row']:hover {
    cursor:default ;    
    background-color: none;
}
.sub_so_luong {
    margin: auto;
    width:35%;
    height:20px;
    background-color:white;
    text-align: center;
    border: 1px solid black; 
    color: black;
}
a[name='add'] {
    width:33%;
    height: 100%;
    float: right;
    border-left: 1px solid black;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a[name='remove'] {
    width:33%;
    height:100%;
    float: left;
    text-decoration: none;
    border-right: 1px solid black;
    color: black;
    cursor: pointer;
}

.sub_so_luong a:hover {
    background-color: #cccccc;
}

#alert {
    background-color: blanchedalmond;
    width: 70%;
    height: 13em;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f1f3fa;
    border-radius: 7px;
    color: #6c757d;
    box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.15);
    position: relative;
    z-index: 0;
}
span {
    padding-top: 3% ;
    padding-bottom: 4%;
}
button[name='buy_now'] {
    width: 150px; 
    word-spacing: 8px;
    margin: auto;
}

#quan_li_hoa_don {
    position: absolute;
    bottom: 3vh;
    right: 4%;
    display: block;
}

#san_pham_da_luu {
    position: absolute;
    bottom: 3vh;
    left: 4%;
    display: block;
}

.btn-delete {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #ffa48d;
}

#san_pham_da_luu, #quan_li_hoa_don {
    text-decoration: none;
}

#san_pham_da_luu:hover, #quan_li_hoa_don:hover {
    text-decoration: underline;
}

